<div class="container d-flex justify-content-center mt-5 p-5">
    <div class="row border p-5">
        <div class="text-center col-sm-12">
            <h1>TODO APP</h1>
        </div>
        <div class="col-sm-12 p-5">
    
                <h5>Add Text:</h5>
                <input  class="input"type="text" name="itemName" class="form-control" [(ngModel)]="itemName">
       
                    <button (click)="additem()" class="btn btn-success">ADD</button>
                
                <table class="table table-hover">
                   
                    <tr *ngFor="let t of items">
                       <td> <input type="checkbox" (change)="update(t)" ></td>
                        
                        <td [ngClass]="{completed : t.itemstatus}">{{t.itemName}}</td>
                        <td><button class="btn btn-link" (click)="delete(t)"><i class="fa fa-trash"></i></button></td>
                    </tr>
                    
                </table>
        </div>
        
    </div>
</div>